@model C__Cumulative_Part_1.Models.Teacher

<div id="mainDiv">
    <nav>
        <a class="navlink" href="/TeacherPage/Show/@Model.TeacherId">Back</a>
    </nav>
    <h2>Update Teacher</h2>
    <form method="POST" action="/TeacherPage/Update/@Model.TeacherId">
        <div class="inputrow">
            <label for="TeacherFirstName">First Name:</label>
            <input type="text" id="TeacherFirstName" name="TeacherFirstName" value="@Model.TeacherFirstName" />

        </div>
        <div class="inputrow">
            <label for="TeacherLastName">Last Name:</label>
            <input type="text" id="TeacherLastName" name="TeacherLastName" value="@Model.TeacherLastName" />

        </div>
        <div class="inputrow">
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
        </div>
        <div class="inputrow">
            <label for="HireDate">Hire Date:</label>
                <input type="date" id="HireDate" name="HireDate" value="@Model.HireDate.ToString("yyyy-MM-dd")" />
        </div>
        <div class="inputrow">
            <label for="Salary"> Salary:</label>
            <input type="text" id="Salary" name="Salary" value="@Model.Salary" />
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>